@import '../../styles.scss';

.panel {
    width: 100%;
    height: $headerHeight;
    display: inline-block;
    position: relative;
    padding-top:23px;
    background: $white;
    box-shadow: 0 0 10px $silver;
    z-index: 2;

    h1 {
        margin: 6px 0;
    }

    img {
        height: 40px;
        float: left;
        padding: 0 20px;
    }

}