@import '../../styles.scss';

.panel {
    width:100%;
    height: $headerHeight;
    background: $white;
    display: inline-block;
    box-shadow: 0 0 10px $silver;
    z-index: 2;
    position: relative;
    padding-top:23px;

    h1 {
        margin: 6px 0;
    }

    img {
        float: left;
        height: 40px;
        padding: 0 20px;
    }

}