<div *ngIf="form" class="holder">
        <label>EMAIL</label>
        <input 
            type="text" 
            disabled="true"
            [value]="form.email"/>
        <label>USER GROUP</label>
        <input 
            type="text" 
            disabled="true"
            [value]="form.group"/>
        <label>AVATAR</label>
        <div class="avatar">
            <img [src]="form.avatar" />
        </div>
</div>   
<div class="bottombar">
    <button type="button" class="btn" (click)="onCancell()">Cancel</button>
    <button type="button" class="btn primary" [disabled]="!form" (click)="onSubmit()">Submit</button>
</div>
