@import 'src/styles.scss';

.error {
    color:$error;
}

.sidebar {
    width: 21%;
    flex-basis: 350px;
    min-height: 100%;
    background-color: $alabaster;
    background-image: $side-bg;
    background-repeat: repeat;
    padding: 55px 25px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    position: relative;

    .app-icon {
        width:100%;
        height:400px;
        position: absolute;
        bottom: 0;
        right: -40px;
        background-image: $side-bg-icon;
        background-repeat: no-repeat;
        background-size:400px;
    }
}


.container {
    background: $white;
    flex-grow: 1;
    position: relative;
    padding: 50px 20px 20px;
    border-left: 1px solid $alto;
}

.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    min-height: calc(100% - 85px);

    .flexbox-col {
        height: 100%;
        flex: 1;
    }
      
}
