<div class="sidebar">
    <app-stepper [current]="current"></app-stepper>
</div>
<div class="container">
    <app-registration-step-one *ngIf="current === 1" (formChanged)="handleStateChanged($event)" [current]="current" ></app-registration-step-one>
    <app-registration-step-two *ngIf="current === 2" (formChanged)="handleStateChanged($event)" (currentChanged)="handleCurrentChanged($event)" [current]="current" ></app-registration-step-two>
    <app-registration-step-three *ngIf="current === 3" (formChanged)="handleStateChanged($event)" (currentChanged)="handleCurrentChanged($event)" [current]="current" ></app-registration-step-three>
    <app-registration-step-four *ngIf="current === 4" (formChanged)="handleStateChanged($event)" (currentChanged)="handleCurrentChanged($event)" [current]="current" [form]="form"></app-registration-step-four>
</div>
