@import '../../styles.scss';

.modal {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    display:none;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: $modal-bg;
    opacity:0;

    &.show {
        display: flex;
        opacity:1;
        -webkit-animation: animate 0.3s;
        animation: animate 0.3s;
    }

    .modal-inside {
        position: absolute;
        width: 80%;
        height:auto;
        background: $modal-inside-bg;
        color: $modal-color;
        font-size:20px;
        border-radius: 5px;
        overflow: hidden;

        .title {
            font-size: 20px;
            color:$boulder;
            width: 100%;
            padding: 40px 30px;
            border-bottom: 1px solid $silver-chalice;
            box-shadow: 0 0 10px $silver;
        }

        .desc {
            width:100%;
            padding: 40px 30px 20px;
            color: $boulder;;
            font-size: 16px;
        }

        .content {
            padding: 0 20px 30px;
        }
    
        p {
            padding:20px;
            font-size:20px;
            word-break: break-all;
        }
    } 
}

.show-btn {
    box-sizing: border-box;
}

@media only screen and (min-width: 700px) {

    .modal .modal-inside {
        width:600px;
    }
}