@import 'src/styles.scss';

.step {
    padding: 10px;
    line-height: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: $tundra;
    font-size: 16px;
    font-weight: 100;
}

.dot {
    height: 10px;
    width: 10px;
    background-color:$silver-chalice;
    border-radius: 50%;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 1px;

    &.active { 
        background-color: $pastel-green;
    }
}



