<div class="container" *ngIf="current">
  <div class="step btn"><span class="icon-holder"><div class="dot" [class.active]="current === 1"></div></span><span>Add login details</span></div>
  <div class="step btn"><span class="icon-holder"><div class="dot" [class.active]="current === 2"></div></span><span>Select the user group</span></div>
  <div class="step btn"><span class="icon-holder"><div class="dot" [class.active]="current === 3"></div></span><span>Add an avatar</span></div>
  <div class="step btn"><span class="icon-holder"><div class="dot" [class.active]="current === 4"></div></span><span>Submit the form</span></div>
</div>
