@import '../../styles.scss';

.container {
    width: 100%;
}
.step {
    width: 100%;
    padding: 10px;
    line-height: 20px;
    padding: 10px;
    align-items: center;
    color: $tundra;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    align-items: center;

    span {
        display: inline-block;
        width: 80%;

        &.icon-holder {
            width:20%;

            .dot {
                display: inline-block;
                height: 10px;
                width: 10px;
                background-color:$silver-chalice;
                border-radius: 50%;
                display: inline-block;
                margin-right: 25px;
                margin-bottom: 1px;
            
                &.active { 
                    background-color: $pastel-green;
                }
            }
        }
    }

}




