@import '../../styles.scss';

.avatar-icon {
    max-height: 512px;
    max-width: 512px;
    padding: 20px;
    overflow: hidden;

    img {
        max-height: 200px;
        max-width: 200px;
    }
}