/* You can add global styles to this file, and also import other style files */

$headerHeight: 85px;

$font-family: Proxima Nova Regular;
$comet: #5E6B85;
$white: #fff;
$mine-shaft: #333;
$mischka: #D5D9E0;
$boulder: #777;
$error: #af0c0c;
$primary: #278AFE;
$primary-hover: #1B75DB;
$alabaster: #fafafa;
$silver-chalice: #aaa;
$silver: #ccc;
$alto: #DBDBDB;
$pastel-green: #7DD96E;
$tundra: #4E4D4D;

$modal-bg: rgba(0,0,0,0.5);
$modal-inside-bg: #fff;
$modal-color: #333;

$light: 100;
$mid: 300;
$bold: 400;

$side-bg: url("/assets/side-background.png");
$side-bg-icon: url("/assets/app-icon.png");

@font-face {
    font-family: $font-family, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: $bold;
    src: url(https://resources.jamf.com/type/proxima-nova-regular.eot?iefix=) format("eot"),url(https://resources.jamf.com/type/proxima-nova-regular.woff2) format("woff2"),url(https://resources.jamf.com/type/proxima-nova-regular.woff) format("woff"),url(https://resources.jamf.com/type/proxima-nova-regular.ttf) format("truetype");
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-family, sans-serif;
    font-style: normal;
    font-weight: $light;
    color: $comet;
}

h1 {
    font-weight: $light;
    font-size: 24px;
    color: $tundra;
}

h2 {
    font-weight: $bold;
    font-size: 20px;
    color: $mine-shaft;
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form.stepper, .holder {
    min-height: 90%;
}

.bottombar {
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    padding: 20px 0;
    text-align: right;
}

label, input {
    width: 100%;
}

input, select {
    border: 1px solid $mischka;
    border-radius: 2px;
    padding: 10px 5px;
    color: $comet;
    margin-bottom: 8px;
    box-sizing: border-box;
}

select {
    width: 100%;
    height: 40px;
    background-color:$white;
}

label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 0;
    display: block;

    .desc {
        color:$boulder;
        font-size:12px;
        font-weight: normal;
        text-transform: none;
        padding-left: 20px;
    }
}

button {
    padding: 10px 15px;
    margin: 0 10px 0 0;
    border-radius: 20px;
    color: $boulder;
    font-size: 16px;
    font-weight: 100;
    background-image: linear-gradient($white, $alabaster);
    outline: none;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient($alabaster, $white);
    
}

button.primary {
    background: $primary;
    color: $white;
    float: right;
    margin: 0 0 0 10px;
}

button.primary:hover {
    background: $primary-hover;
}

button:disabled, button:disabled:hover {
    background: $boulder;
    cursor: not-allowed;
}

.btn-small {
    height: 25px;
    padding: 0 15px;
    color: $boulder;
    font-size: 12px;
}

.error {
    columns: $error;;
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.info {
    font-size: 14px;
    color: $boulder;
    font-weight: $light;
    text-transform: none;
}

::-webkit-input-placeholder { 
    color: $mischka;
}
::-moz-placeholder { 
    color: $mischka;
}
:-ms-input-placeholder { 
    color: $mischka;
}
:-moz-placeholder { 
    color: $mischka;
}


.hidden {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 5px),
      calc(100% - 15px) calc(1em + 5px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      0;
    background-repeat: no-repeat;
  }
