<form [formGroup]="form">
    {{ current }}
      <label>USER GROUP</label>
      
        <ng-container *ngIf="(groups | async) as groupsList; else loading">
        <select name="groups" placeholder="None" [formControl]="group">
            <option disabled value="">None</option>
          <ng-container *ngFor="let group of groupsList">
              <option [value]="group.name">{{ group.name }}</option>
          </ng-container>
        </select>
      </ng-container>
      <ng-template #loading><img class="loader" src="/assets/loader.gif" /></ng-template>
      <div 
        *ngIf="group.invalid"
        class="error">
        <ng-container *ngIf="!!group.errors.required">Choosing group is required</ng-container>
      </div> 
    </form>
    <button type="button" (click)="onCancell()">Cancel</button><button type="button" [disabled]="form.invalid" (click)="onNext()">Next</button>
    
    