<form class="stepper" [formGroup]="form">
  <h2>Choose the User Group</h2>
  <label>USER GROUP<span class="desc">User group to add the users to</span></label>
    <ng-container *ngIf="(groups | async) as groupsList; else loading">
    <select name="groups" placeholder="None" [formControl]="group">
        <option disabled value="">None</option>
      <ng-container *ngFor="let group of groupsList">
          <option [value]="group.name">{{ group.name }}</option>
      </ng-container>
    </select>
  </ng-container>
  <ng-template #loading><div class="loader-holder"><span class="desc">Loading groups...</span></div></ng-template>
  <div 
    *ngIf="group.invalid && group.touched"
    class="error">
    <ng-container *ngIf="!!group.errors.required">Choosing group is required</ng-container>
  </div> 
</form>
<div class="bottombar">
  <button type="button" class="btn"(click)="onCancell()">Cancel</button>
  <button class="primary btn" type="button" [disabled]="form.invalid" (click)="onNext()">Next</button>
</div>
    